<!DOCTYPE html>

<body>
      <label>Team Name</label>
      <%=@team[:name]%>
      <label>Team Motto</label>
      <%=@team[:motto]%>

      <label>Hero 1</label>
      <label>Name</label>
      <%=@team[:members][:super1][:name]%>
      <label>Super Power</label>
      <%=@team[:members][:super1][:power]%>
      <label>Bio</label>
      <%=@team[:members][:super1][:bio]%>
      <label>Hero 2</label>
      <label>Name</label>
      <%=@team[:members][:super2][:name]%>
      <label>Super Power</label>
      <%=@team[:members][:super2][:power]%>
      <label>Bio</label>
      <%=@team[:members][:super2][:bio]%>
      <label>Hero 3</label>
      <label>Name</label>
      <%=@team[:members][:super3][:name]%>
      <label>Super Power</label>
      <%=@team[:members][:super3][:power]%>
      <label>Bio</label>
      <%=@team[:members][:super3][:bio]%>

</body>

</html>
